.rentpress-shortcode-wrapper {
    max-width: 100%;
}

// Rentpress plugin

.rentpress-shortcode-floorplan-search-wrapper {
    padding: 30px;
    display: block;
    justify-content: start;

    @media (min-width: 960px) {
        display: grid;
    }

    input[type="text"] {
        border: none !important;
    }
}

.rentpress-floorplan-search-container {
    display: flex;
    flex-direction: column;

    @media (max-width: 959px) {
        flex-direction: column;
    }

    .rentpress-top-floorplan-search-filter-wrapper {
        flex-direction: column !important;
        justify-content: flex-start !important;
        grid-gap: 0;

        @media (min-width: 960px) {
            flex: 0 300px;
            padding-right: 30px;
        }

        .row {
            display: block;
            margin: 0;

            .col-xl-4,
            .col-xl-2 {
                width: 100%;
                max-width: inherit;
            }

            .col, .col-12 {
                padding: 0;
            }

            .v-text-field.v-text-field--solo .v-label {
                left: 10px !important;
            }
        }
    }

    .rentpress-floorplan-card-wrapper {
        width: 100%;

        @media (min-width: 960px) {
            width: calc(100% - 300px);
        }

        .rentpress-floorplan-card-container {
            gap: 2em !important;
            grid-template-columns: 100% !important;
            justify-content: center !important;
            padding: 0 20px;


            @media (min-width: 960px) {
                grid-template-columns: repeat(2,50%) !important;
            }

            @media (min-width: 1200px) {
                grid-template-columns: repeat(2,50%) !important;
            }

            @media (min-width: 1600px) {
                grid-template-columns: repeat(3,33%) !important;
            }
        }
    }

    .v-responsive__content {
        width: auto !important;
    }
}

.rentpress-top-floorplan-search-filters {
    flex-direction: column;

    & > div {
        flex-direction: column !important;
        grid-gap: 0 !important;
    }
}