.rentpress-shortcode-wrapper {
    max-width: 100%;
}

// Rentpress plugin
.rentpress-shortcode-floorplan-search-wrapper {
    padding: 20px;
    display: block;

    @media (min-width: 960px) {
        display: grid;
    }
}

.rentpress-floorplan-search-container {
    display: flex;

    @media (max-width: 959px) {
        flex-direction: column;
    }

    .rentpress-top-floorplan-search-filter-wrapper {

        @media (min-width: 960px) {
            flex: 0 300px;
        }

        .row {
            display: block;
            margin: 0;

            .col-xl-4,
            .col-xl-2 {
                width: 100%;
                max-width: inherit;
            }

            .v-text-field.v-text-field--solo .v-label {
                left: 10px !important;
            }

            input[type="text"] {
                border: none !important;
            }
        }
    }

    .rentpress-floorplan-card-wrapper {
        width: 100%;

        @media (min-width: 960px) {
            width: calc(100% - 300px);
        }

        .rentpress-floorplan-card-container {
            gap: 1em !important;


            @media (min-width: 960px) {
                grid-template-columns: repeat(2,38%) !important;
            }

            @media (min-width: 1200px) {
                grid-template-columns: repeat(2,42%) !important;
            }

            @media (min-width: 1600px) {
                grid-template-columns: repeat(3,30%) !important;
            }
        }
    }
}

@media (max-width: 599px) {}
