.rentpress-shortcode-wrapper {
    max-width: 100%;
}

// Rentpress plugin
.rentpress-shortcode-floorplan-search-wrapper {
    padding: 20px;
}

.rentpress-floorplan-search-container {
    display: flex;

    .rentpress-top-floorplan-search-filter-wrapper {
        width: 20%;
        min-width: 200px;

        .row {
            display: block;
            margin: 0;

            .col-xl-4,
            .col-xl-2 {
                width: 100%;
                max-width: inherit;
            }

            .v-text-field.v-text-field--solo .v-label {
                left: 10px !important;
            }
        }
    }

    .rentpress-floorplan-card-wrapper {
        width: 80%;
    }
}