.rentpress-shortcode-wrapper {
    max-width: 100%;
}

// Rentpress plugin
.rentpress-shortcode-floorplan-search-wrapper {
    padding: 20px;
}

.rentpress-floorplan-search-container {
    display: flex;

    .rentpress-top-floorplan-search-filter-wrapper {
        width: 20%;
        min-width: 200px;
    }

    .rentpress-floorplan-card-wrapper {
        width: 80%;
    }
}